<!-- Double data-binding: Enlaza un campo por ejemplo input a una variable miembro de la 
clase. Si modificas la variable se modifica el input, y viceversa. Si modifica el usuario
la caja de texto se altera variable. Enalce bidireccional.-->
<div [ngClass]="getClassCssCapa()">
    <label for="nombre">{{ campoNombre }}</label>
    <input [ngClass]="getClassCss()"  required type="text" 
    placeholder="userName"  required minlength="7"
     [(ngModel)]="usuarioEdit.nombre" #name="ngModel" >

    <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <div *ngIf="name.errors.required">
    Name is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
  </div>

</div>
</div>

<div [ngClass]="getClassCssCapa()">
  <label for="mail">{{ campoEmail }}</label>
  <input [ngClass]="getClassCss()" type="email" placeholder="example@gmail.com"
    required maxlength="80" [(ngModel)]="usuarioEdit.email" #email="ngModel">

  <div *ngIf="email.invalid && (email.dirty)" class="alert alert-danger">

    <div *ngIf="email.errors.required">
      Email is required.
    </div>
    <div *ngIf="email.errors.maxlength">
      El email no puede suaperar los 80 caracteres.
    </div>
    
  </div>

</div>

<div [ngClass]="getClassCssCapa()">
    <label for="password">{{ campoPassword }}</label>
    <input [ngClass]="getClassCss()" type="password" placeholder="**********" [(ngModel)]="usuarioEdit.password">
</div>