.camposFormularios{
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

label{
    color:black;
    font-size: 18px;
    font-family: verdana;
}

.inputs{
    margin-top: 0.5em;
    width: 50%;
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid blueviolet;
    font-size: 18px;
    font-family: verdana;
}

.camposFormularios-editar{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.inputs-editar{
    margin-top: 0.5em;
    width: auto;
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid red;
    font-size: 18px;
    font-family: verdana;
}