h1{
    text-align: center;
}

.table{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
tr:nth-child(even){
    background-color: #D1CECE;
}
tr:nth-child(odd){
    background-color: white;
}
td{padding: 0.5em; text-align: center;}
th{background-color: black; color: white;}

.opciones{
    background-color: #fff;  
}

.capaEmergente{
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: absolute;
    top: 31%;
    left: 35%;
    height: 10%;
    width: 20%;
    transition: all .5s;
    padding: 3% 6% 6% 6%;
    box-shadow: 10px 10px 5px 0px black;
}

.botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.yes{
    width: 50%;
    text-align: center;
}
.no{
    width: 50%;
    text-align: center;
}

.borrarSi, .borrarNo{
    border-radius: 8px;
    width: 85%;
    height: 100%;
    padding: 0.75em;
    border: 2px solid #F37761;
    background-color: white;
}

.textoOculto{
    font-size: 20px;
}

.muestraFormulario{
    background: #FFCF59;
    color: #fff;
    position: fixed;
    top: 4%;
    left: 30%;
    height: auto;
    width: 25%;
    transition: all .5s;
    padding: 3% 6% 6% 6%;
    box-shadow: 10px 10px 5px 0px black;
}

.yesEditar,.noEditar{
    width: 50%;
    text-align: center;
}

.editar, .cancelEditar{
    border-radius: 8px;
    width: 85%;
    height: 100%;
    padding: 0.75em;
    background-color: #65A7C9;
}

h2{
    color: black;
}

.iconos{
    width: 1.7em;
}

.iconos:hover{
    cursor: pointer;
    width: 1.9em;
}