<div *ngIf="listadoDatos().length != 0">
    <h1>Cantidad de usuarios registrados: {{listadoDatos().length }}</h1>
    <table class="table">
        <tr>
            <th>{{campo1}}</th>
            <th>{{campo2}}</th>
            <th>{{campo3}}</th>
        </tr>
        <tr *ngFor="let name of listadoDatos(); let i = index">
            <td>
                {{ name.nombre }}
            </td>
            <td>
                {{ name.email }}
            </td>
            <td>
                {{ name.password }}
            </td>
            <td class="opciones">
                <a (click)="posicionE=i;lanzarEditar(posicionE,i,name)">
                    <img class="iconos" src="../../../assets/imagenes/editar.svg" title="editar usuario" alt="icono editar usuario">
                </a>
            </td>
            <td class="opciones">
                <!--Cuando el usuario pulsa borrar guardamos la posicion de ese usuario-->
                <a (click)="posicionObjeto = i; lanzarBorrar(posicionObjeto, i, name)">
                    <img class="iconos" src="../../../assets/imagenes/borrar.svg" title="borrar usuario" alt="icono borrar usuario">
                </a>
            
                <!-- Para que , en cad uno de los usuarios, pregunte si es el que se 
                pretende eliminar
                <div *ngIf="posicionObjeto == i">
                    <p>Estás seguro de que lo quieres eliminar</p>
                    <input type="button" value="SI" (click)="borrar(posicionObjeto, name);posicionObjeto= -1;">
                    <input type="button" value="NO" (click)="posicionObjeto = -1;">
                </div>-->
            </td>
        </tr>
    </table>

    <div class="capaEmergente" *ngIf="muestraMensaje === true">
        <p class="textoOculto">Estás seguro de que quieres eliminar a {{usuario.nombre}}</p>
        <div class="botones">
            <div class="yes">
                <input type="button" class="borrarSi" value="SI" (click)="borrar(posicion, usuario);">
            </div>
            <div class="no">
                <input type="button" class="borrarNo" value="NO" (click)="muestraMensaje=false;">
            </div>
        </div>
    </div>
    
    <div class="muestraFormulario" *ngIf="muestraEditar === true">
        <div>
            <h2>Formulario de edición del usuario {{ usuario.nombre }}</h2>
        </div>
        <!--UsuarioEdit es el nombre de la variable que tiene el objeto en el componente
        editar-usuario.component. Entonces la pasamos el usuario relleno para poderlo editar.-->
        <app-editar-usuario [usuarioEdit]="usuario" [editando]="cssEditar"></app-editar-usuario>
        <div class="botones">
            <div class="yesEditar">
                <input type="button" class="editar" value="Enviar"  (click)="editar()">
            </div>
            <div class="noEditar">
                <input type="button" class="cancelEditar" value="NO" (click)="cancelarEditar();muestraEditar=false;">
            </div>
        </div>
    </div>
</div>

