<div class="contenedor">
    <h2>{{ subTitulo }}</h2>
    <div class="contenedorRegistro" *ngIf="cajita === false;">
        <!--Con el corchete estamos pasando el objeto del componente padre al hijo-->
        <app-editar-usuario class="formularioCrear" [usuarioEdit]="usuarioNuevo"></app-editar-usuario>
        <div>
            <!--Así se llaman funciones de typscript con angular-->
            <input type="button" value="Enviar"  (click)="registrarAlpulsarClick()">
        </div>
        <p class="existe">{{ usuExiste }}</p>
        <div class="muestraUsuario">
            <span> Datos rellenados: </span>
            <p>{{ usuarioNuevo.nombre+ " - " +usuarioNuevo.email }}</p>
        </div>
    </div>
    <div *ngIf="cajita===true">
        <div class="cajitaShow">
            <p>Usuario añadido correctamente. Gracia por registrarte.</p>
        </div>
    </div>
    <a [routerLink]="['/lista']">Muestra Usuarios </a>
</div>