.contenedor{
    width: auto;
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
    background-color: whitesmoke;

}
.contenedorRegistro{
    width: auto;
}

.cajitaShow{
    border: 1px solid green;
    padding: 1em;
}
p{
    font-size: 20px;
    font-weight: bold;
}

.existe{
    color: red;
}

.formularioEdicion{
    display: none;
}

input{
    margin-left: 40em;
    width: 10em;
    height: 100%;
    padding: 0.8em;
    background-color: orange;
    border: 1px solid black;
    border-radius: 7px 7px 7px 7px;
    font-weight: bold;
}

input:hover{
    cursor: pointer;
}
h2{
    text-align: center;
}
.muestraUsuario{
    margin-left: 16.5em;
}